@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #eeeeee;
  --text-color: #4a4a4a;
}

.dark {
  --bg-color: #111111;
  --text-color: #eeeeee;
}

/* src/styles.css */
@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-blink {
    animation: blink 1s infinite;
  }

  @keyframes move-smoke {
    0% {
      top: 0;
      opacity: 1;
    }
    50% {
      top: -30px;
      opacity: 0.6;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }
  
  .animate-smoke .animate-move-smoke {
    animation: move-smoke 2s linear infinite;
  }